html{
    font-family: Arial, Helvetica, fantasy;
}
h1{
    text-align: center;
    font-weight: normal;
    letter-spacing: 15px;
    text-decoration:underline blue wavy 4px;
    font-size: 80px;
}
h2{
    text-decoration: underline;
}
p{
    text-align: right;
    line-height: 2.5;
    width: 70%;
}
