body{
    background-color: #f1faee;
}
button{
    font-size: 30px;
    background-color: #a8dadc;
}
#log-sign-btn{
    background-color: #1d3557;
    color: #fff;
}
.tag{
    background-color: #e63946;
    color: #f1faee;
    font-size: 20px;
}
/* descendant selector (overruled by direct descendant selector)*/
p a{
    color: #457b9d;
    text-decoration: none;
}
.references a{
    color: #e63946;
}
/* adjacent selector */
input + button{
    background-color: pink;
}
h2 + button{
    font-size: 20px;
}
/* direct descendant selector */
p > a{
    color: lightgreen;
}
/* attribute selectors */
input[type="password"],input[type="email"]{
    color: lightblue;
}
/* pseudo classes */
form button:hover{
    background-color:#e63946;
    color: #fff;
}
p > a:hover{
    text-decoration: underline;
    font-weight: bold;
}
button:active{
    background-color: chocolate;
}
div:nth-of-type(2n){
    background-color: #dfe8dc;
}
div:nth-of-type(2n-1){
    background-color: grey;
}
/* pseudo elements */
h2::first-letter{
    font-size: 40px;
}
h2::first-line{
    color: purple;
}
::selection{
    background-color: chartreuse;
}