<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>

<body>
    <section>
        <div id="rgba">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores suscipit voluptates expedita aut commodi
            dignissimos dolorem doloribus animi nemo blanditiis architecto eaque, tenetur fugiat deserunt hic nihil eius
            officia qui!
        </div>
        <div id="opacity">
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores suscipit voluptates expedita aut commodi
            dignissimos dolorem doloribus animi nemo blanditiis architecto eaque, tenetur fugiat deserunt hic nihil eius
            officia qui!
        </div>
    </section>
</body>

</html>